html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 176, 107);
}
h1 {
  margin: 0px;
}
button:hover {
  background-color: rgb(240, 86, 30);
  cursor: pointer;
}
.container {
  max-width: 600px;
  height: 100%;
  min-height: 290px;
  position: relative;
  background-color: rgb(246, 186, 164);
  text-align: center;
  margin: 100px auto;
}
.addele {
  position: relative;
  right: 20px;
  border: none;
  width: 90px;
  border-radius: 45%;
  outline: none;
  background-color: rgb(251, 151, 114);
  height: 50px;
}
.adder {
  width: 100%;
  background-color: bisque;
}
input {
  /* position: relative; */
  left: 20px;
  width: 80%;
  border: none;
  height: 40px;
  border-bottom: 0.5px dotted rgb(32, 26, 24);
  background-color: transparent;
  outline: none;
}
.lists {
}
.lists li {
  margin-bottom: 30px;
  list-style: none;
  position: relative;
  margin-right: 500px;
  /* top: 20px; */
}
.lists li::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -5px;
  background-image: url("./images/unchecked.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 98, 0) (157, 255, 0);
}
span {
  position: absolute;
  left: (300vw)/4;
  top: -3px;
}
.checked {
  text-decoration: line-through;
}
.lists .checked::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -5px;
  background-image: url("./images/checked.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(255, 98, 0) (157, 255, 0);
}
